<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/media/cursor.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/styles/global.css">
  <link rel="stylesheet" href="/static/styles/landing.css">
  <title>CallumCTF2025</title>
</head>
<body>
  <header>
    <h1>The Great Callum CTF of 2025!</h1>
    <h2>By Logan MacDougall</h2>
    <div id="lights">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
    </div>
  </header>

  <p class="outside-p">The puzzle game of pure madness......</p>

  <div class="challenges-container">
    {{ if all .Completed }}
    <section>
      <a href="/prize"><h2>Claim your prize!</h2></a>
    </section>
    {{else}}
    {{range  $i, $complete := .Completed}}
    <div class="challenge-container">
      <p class="challenge-text">Challenge</p>
      <h2>{{$i | add 1}}</h2>
      <p class="challenge-desc">{{ index $.Descriptions $i }}</p>
      {{if $complete}}
      <p class="challenge-status">Complete</p>
      {{ else }}
      <p class="challenge-status" >Incomplete</p>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>

  <div class="playnow-container">
    <a class="download-button" href="/static/downloads/CallumCTF2025.exe" download>Windows</a>
    <h2 class="play-text">Play Now</h2>
    <a class="download-button" href="/static/downloads/CallumCTF2025.x86_64" download>Linux</a>
  </div>
  <script src="/static/js/lights.js"></script>
</body>
</html>
