<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/media/cursor.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/styles/global.css">
  <link rel="stylesheet" href="/static/styles/landing.css">
  <title>CallumCTF2025</title>
</head>
<body>
  <header>
    <h1>The Great Callum CTF of 2025!</h1>
    <h2>By Logan MacDougall</h2>
    <div id="lights">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
    </div>
  </header>

  <section>
    <div>
      <span>
        In this puzzle game of pure madness, you will have to overcome <b>three</b> challenges that will knock you fingers off! These challenges involve the following:
        <ul>
          <li>Fixing the lights of this very website (or was I suppose to do that)</li>
          <li>Getting through the various tricks and traps of the impossible castle</li>
          <li>Uncovering the secert message behind our neighbourly troll's riddle</li>
        </ul>
        Do you think you can take on every challenge and bring home the prize for yourself?
      </span>
    </div>
    <div>
      <h2>Play Now</h2>
      <div class="executables">
        <a class="play-button" href="/static/downloads/CallumCTF2025.exe" download>Windows</a>
        <a class="play-button" href="/static/downloads/CallumCTF2025.x86_64" download>Linux</a>
      </div>
    </div>
  </section>
  <section>
    {{range  $i, $complete := .Completed}}
    {{if $complete}}
    <p>Challenge {{$i | add 1}}: Completed</p>
    {{ else }}
    <p>Challenge {{$i | add 1}}: Incomplete</p>
    {{ end }}
    {{ end }}
  </section>
  {{ if all .Completed }}
  <section>
    <a href="/prize"><h2>Claim your prize!</h2></a>
  </section>
  {{ end }}
  <div class="big-gap"></div>
  <section class="riddle">
    <p>The riddle of the troll</p>
    <a href="/static/downloads/riddle.c" download>riddle.c</a>
  </section>
  <script src="/static/js/lights.js"></script>
</body>
</html>
