<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/landing.css">
  <title>CallumCTF2025</title>
</head>
<body>
  <header>
    <h1>The Great CTF of 2025!</h1>
    <h2>By Logan MacDougall</h2>
    <div id="lights">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
      <img class="light light-off" alt="lightbulb">
    </div>
  </header>
  <script src="/static/js/lights.js"></script>
</body>
</html>
