html {
  background: var(--dark-1)
}

body {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-2);
  margin: 0;
}

body h1 {
  color: var(--light-2);
  text-align: center;
  margin: 16px;
}

.outside-p {
  color: var(--light-2);
  text-align: center;
  margin: 2em 1em;
}

.challenges-container {
  display: flex;
  justify-content: space-around;
}

.challenge-container {
  background: var(--light-2);
  border-radius: 5px;
  padding: 48px;
  text-align: center;
  max-width: 256px;
  width: 17%;
}

.challenge-text {
  color: var(--dark-1);
  font-size: 30px;
  margin: 0;
}

.challenge-desc {
  margin: 0;
}

.challenge-status {
  color: var(--dark-1);
}

.challenge-container h2 {
  color: var(--dark-1);
  font-size: 100px;
  margin: 0px;
}


header {
  background: var(--light-2);
  text-align: center;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header h2 {
  font-size: 16px;
  margin: 0;
}

.light {
  width: 128px;
  aspect-ratio: 1;
  image-rendering: pixelated;
  max-width: 11%;
}

#lights .light:nth-child(even) {
  transform: scaleX(-1);
}

.light-on {
  content: url("/static/media/lightbulb_on.png");
}

.light-off {
  content: url("/static/media/lightbulb_off.png");
}

section {
  background: var(--light-2);
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

section div {
  display: grid;
  width: 50%;
  place-items: center;
}

.play-button > h2 {
  border: 24px solid var(--dark-2);
  border-radius: 1em;
}

a {
  color: var(--dark-2);
}

a > h2 {
  text-align: center;
  font-size: 72px;
  padding: 36px;
}

.playnow-container {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.download-button {
  background: var(--light-2);
  width: 148px;
  padding: 18px;
  border-radius: 64px;
  text-align: center;
}

.play-text {
  color: var(--light-2)
}