html {
  background: var(--dark-1)
}

body {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-2);
}

header {
  background: var(--light-2);
  margin: 1em;
  text-align: center;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header h2 {
  font-size: 16px;
  margin: 0;
}

.light {
  width: 128px;
  aspect-ratio: 1;
  image-rendering: pixelated;
  max-width: 11%;
}

#lights .light:nth-child(even) {
  transform: scaleX(-1);
}

.light-on {
  content: url("/static/media/lightbulb_on.png");
}

.light-off {
  content: url("/static/media/lightbulb_off.png");
}

section {
  background: var(--light-2);
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

section div {
  display: grid;
  width: 50%;
  place-items: center;
}

.play-button > h2 {
  border: 24px solid var(--dark-2);
  border-radius: 1em;
}

a {
  color: var(--dark-2);
}

a > h2 {
  text-align: center;
  font-size: 72px;
  padding: 36px;
}

.big-gap {
  height: 1000px;
  background: transparent;
}

.riddle {
  display: block;
  text-align: center;
}