p {
  font-size: 40px;
  text-align: center;
}

pre {
  text-align: center;
}

pre span {
  font-size: 24px;
}

section {
  display: block;
}

.center {
	display: flex;
	justify-content: center;
}

.color-shadow {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.color-shadow::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/media/sunset.png") center / cover no-repeat;
  filter: blur(30px);
  transform: scale(1.08);
  z-index: -1;
  opacity: 0.7;
  border-radius: 12px;
}

img {
	max-height: 600px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
